{{#> layout}}
  {{#*inline "content"}}
    <main>
        <h2>Index</h2>
        <div class="black"></div>
        {{#each template}}
            <div class="flex">
                {{#each this}}
                    <span class="item item_{{this}}">{{this}}</span>
                {{/each}}
            </div>
        {{/each}}
        <div>
            <button onclick="start()">START</button>
            <button onclick="end()">END</button>
        </div>
    </main>
  {{/inline}}
  {{#*inline "script"}}
    <script>
        const TO_SERVER = 'toServer';
        const TO_CLIENT = 'toClient';
        const URL = 'http://localhost:4000'
        const socket = io(URL, { transports: ['websocket'] })
        {{!-- 
        setInterval(function(){
            console.log('socket', socket)
            socket.emit(TO_SERVER, {data: 'test'})
        }, 1000)
        --}}

        socket.on(TO_CLIENT, function(data){
            console.log('data', data)
        })

        const START = 'START';
        const END = 'END';
        function start(){
            socket.emit(TO_SERVER, {type: START})
        }
        function end(){
            socket.emit(TO_SERVER, {type: END})
        }
    </script>
    <script>
        var message = '{{message}}';
        var template = [{{#each template}} [{{#each this}} {{this}}, {{/each}}], {{/each}}]
        console.log('hi' + message)
    </script>
    <script>
        const ArrowUp = 'ArrowUp';
        const ArrowLeft = 'ArrowLeft';
        const ArrowRight = 'ArrowRight';
        const ArrowDown = 'ArrowDown';
        const Space = 'Space';
        window.addEventListener('keydown', function(e){
            if (e.key === ArrowDown) {
                down()
            } else if (e.key === ArrowUp) {
                up()
            } else if (e.key === ArrowLeft) {
                left()
            } else if (e.key === ArrowRight) {
                right()
            } else if (e.key === Space) {
                space()
            } else {
                console.log('KEY NOT MATCHED')
            }
        })
    </script>
    <script>
        const LEFT = 'LEFT';
        const RIGHT = 'RIGHT';
        const UP = 'UP';
        const DOWN = 'DOWN';
        const SPACE = 'SPACE';
        function left(){
            socket.emit(TO_SERVER, {type: LEFT})
        }
        function right(){
            socket.emit(TO_SERVER, {type: RIGHT})
        }
        function up(){
            socket.emit(TO_SERVER, {type: UP})
        }
        function down(){
            socket.emit(TO_SERVER, {type: DOWN})
        }
        function space(){
            socket.emit(TO_SERVER, {type: SPACE})
        }
    </script>
  {{/inline}}
{{/layout}}