{{#> layout}}
  {{#*inline "content"}}
    <main>
        <h2></h2>
    </main>
    <script>
        var message = '{{message}}'
        console.log('hi' + message)
    </script>
  {{/inline}}
{{/layout}}